.navMedium {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.wrapper1 {
  max-height: 80px;
  display: flex;
  overflow-x: auto;
}
.wrapper1::-webkit-scrollbar {
  width: 0;
}
.wrapper1 .item {
  min-width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-right: 2px;
}
::-webkit-scrollbar {
  display: none;
}
.wrapper_items {
  max-height: 50px;
  display: flex;
  overflow-x: auto;
}
